[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit="*"
scikit-learn="*"
numpy="*"
pandas="*"
matplotlib="*"
seaborn="*"
PyYAML="*"
joblib="*"
xgboost="*"
lightgbm="*"
psycopg2-binary="*"

[dev-packages]

[requires]
python_version = "3.9"
